image: ruhland/ionic:1.0.9
# Base image includes ionic CLI 5.2.3. Don't really need ionic, but it's the same image as the firebase App build.

stages:
  - deploy

before_script:
  - apt-get update -qy
  - npm install -g firebase-tools
  - npm install

cache:
  untracked: true
  key: "$CI_PROJECT_ID"
  paths:
    - node_modules/

production:
  stage: deploy
  script:
    #- export ENV=remotedev&&node ./build/scripts/buildEnv.js
    #- pwd
    #- npm install
    #- npm run build
    #- firebase use --token $FIREBASE_AUTH
    #- firebase target:apply hosting notifium-remotedev-cp notifium-remotedev-cp
    #- firebase deploy --only hosting:sitedevenvnotifiumcom- m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive --token $FIREBASE_AUTH
    - npx @stackbit/stackbit-pull --stackbit-pull-api-url=https://api.stackbit.com/pull/5e9e033eb9df0c001aa8cf72
    - npm run build
    - firebase use --token $FIREBASE_AUTH
    - firebase deploy --only hosting:sitedevenvnotifiumcom m "Pipeline $CI_PIPELINE_ID, build $CI_BUILD_ID" --non-interactive
