/* Bullet list icons */
.notifium-action-icon {
  padding-right: 10px;
}




/* Top menu */
.notifium-top-menu-right {
  margin-left: 0;
}

.notifium-top-menu-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notifium-top-menu-right {
  position: absolute;
  right: 5%;
  top: 30%;
}


/* Zoho Forms */
.formSubInfoText {
  font-size: 0.9rem
}
