.notifium-action-icon {
  padding-right: 10px;
}

.notifium-menu-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formSubInfoText {
  font-size: 0.9rem
}
